<div class="container">
  <h1>Booking new</h1>
  vous allez booker la performance : <%= @performance.title %>
  <%= simple_form_for(@booking) do |f| %>
      <%= f.submit "Book", class: "btn btn-primary" %>
  <% end %>
</div>