<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Defining availability</h1>
      <%= simple_form_for [@performance, @performance_date] do |f| %>
        <%= f.input :start %>
        <%= f.input :end %>
        <%= f.submit "Validate", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>