.banner-performance{
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}

.title-image-performance-card {
  display: flex;
  height: 360px;
  padding: 30px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border: 2px solid $darkergold;
  img {
    margin-right: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.attributes-perf {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  justify-content: flex-end;
  border: 2px solid $darkergold;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.description-status-perf {
  flex: 1 1;
  padding: 20px;
}

.calendar {
  flex: 0 0 300px;
  padding: 20px;
}

.relat {
  position: relative;
}

.abso {
  position: absolute;
  top: -180px;
  margin-bottom: 3000px;
}