@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
.banner-home{
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}
.banner-home > h1{
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  top:100px;
  left: 50px;
  color: #e7a117;
  text-shadow: 0 0 10px #e7a117;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.banner-go{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 30px;
  font-weight: bold;
  font-size: 25px;
  a {
    text-decoration: none;
    color: #e7a117;
  }
}