.nav-tabs .nav-link.active {
  opacity: 1;
  border-bottom: 3px solid $darkergold;
  margin-bottom: 20px;
}

.nav-tabs .nav-link:hover{
  border-color: #E3E3E3 #E3E3E3 #E3E3E3;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-disable {
  opacity: 0.6;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos{
  flex-grow: 1;
}

.card-product-status{
  width: 120px;
}

.btn-profile-card{
  width: 100px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 2px 4px;
}