

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.nav-item > a {
  color: $darkergold;
  &:hover {
    color: $lightergold;
  }
}

.navbar-color { 
  background-color: #222832;
}

.nav-height {
  min-height: 80px;
  height: 80px; 
}

.form-control:focus {
  border-color: #fdb631;
}

.navbar-collapse .btn { 
  border-radius: 5px;
}

.navbar-collapse .form-control {
  border-radius: 5px;
  background: #E4E4E4;
}

.nav-item .dropdown-menu { 
  border-radius: 5px;
  background-color: $darkergrey; 
  border: none;
}

.dropdown-item {
  color: $darkergold;
}

// .dropdown-item:active{ 
//   background-color: $darkergold;
//   color: $darkergrey;
// }